body {
    margin: 0;
    margin-top: 30px;
    height: 100%;
    background-color:rgb(124, 212, 42);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
}

.addons-container, 
.tops-container,
.bottoms-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}

.addons-img,
.tops-img,
.bottoms-img {
    max-width: 25%;
    height: auto;
    width: auto;
    object-fit: contain; 
}

button {
    font-size: 1rem;
    color: white;
    background-color:#ec6b37;
    padding: 5px 15px;
    cursor: pointer;
    border-color: transparent;
}

button:hover {
    background-color: #d90166;
}

.carousel-buttons {
    display: flex;
    justify-content: center;
    gap: 4px;
    margin-top: 5px;
}

.random-button {
    background-color: #d90166;
    margin-bottom: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
}
.random-button:hover {
    background-color: #ec6b37;
}